:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

[data-theme="dark"] {
    --bg-color: rgb(10,10,10);
    --host-bg-color: rgb(20,20,20);
    --border-color: rgb(75,75,75);
    --highlight-color: rgb(192, 57, 174);
    --host-color: white;
    --host-hover-color: white;
    --icon-color: rgb(100,100,100);
    --icon-hover-color: rgb(150,150,150);
}

[data-theme="light"] {
    --bg-color: rgb(245,245,245);
    --host-bg-color: rgb(235,235,235);
    --border-color: rgb(150,150,150);
    --highlight-color: rgb(236, 9, 206);
    --host-color: black;
    --host-hover-color: black;
    --icon-color: rgb(155,155,155);
    --icon-hover-color: rgb(205,205,205);
}

.gradient-text {
    background-color: #f3ec78;
    background-image: linear-gradient(-45deg, rgb(160, 34, 160), rgb(179, 41, 41), rgb(184, 184, 35));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
h1 {
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--bg-color);
    width: 100%;
    margin: 0;
    padding: 0;
}
.disabled {
    pointer-events: none;
    opacity: 0.4;
}
.host-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--host-bg-color);
}
.host-container:hover {
    border: 1px solid var(--host-hover-color);
    cursor: pointer;
}
.hostname {
    color: var(--host-color);
    margin-left: 5px;
}
.domain {
    color: var(--highlight-color)
}
.label {
    padding-right: 10px;
}
.forwardingInfo {
    color: var(--border-color); 
    margin-left: 5px;
}
a {
    text-decoration: none;
    color: inherit;
}
#main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
i {
    color: var(--icon-color);
}
i:hover {
    color: var(--icon-hover-color);
}
.controlContainer {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 22px;
    height: auto;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.space {
    justify-content: space-between;
    width: 100%;
}
.right {
    justify-content: right;
    width: 100%;
}
#themeContainer {
    position: absolute;
    left: 0;
}
#header {
    color: var(--border-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid var(--border-color);
    height: auto;
}
#title {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    font-style: italic;
    margin: 0;
    padding: 0;
}
#footer {
    color: var(--border-color);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--border-color);
    position: relative;
}
#serverHost {
    color: var(--highlight-color);
}
.link-seperator {
    color: var(--border-color);
    margin: 10px;    
}
@media only screen and (max-device-width: 480px) {
    #header {
        padding: 5px;
        font-size: small;
        justify-content: center;
    }
    #footer {
        font-size: small;
        padding: 5px;
    }
    #main {
        font-size: small;
        padding: 5px;
    }
    .host-container {
        margin: 5px;
    }
    .host-container:hover {
        border: 1px solid var(--border-color);
        cursor: inherit;
    }
    h1 {
        padding: 5px;
    }
}